[build]
  command = "npm run build" # Comando per costruire il progetto
  publish = "dist"         # Directory dove si trova il sito statico
  base = ""                # Lasciare vuoto se non si usa una sottodirectory

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/manifest.json"
  [headers.values]
    Content-Type = "application/manifest+json"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "text/javascript"
